In [19]:
import pandas as pd
import numpy as np

用online pred 的结果代替销量周销量0-15的sku+dc的预测结果，看mape是否下降

In [20]:
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [21]:
raw = pd.read_csv('./result_670/raw_pred_result_7371_0508-step28.csv')

In [22]:
new = pd.read_csv('./result_670/transfer_test_result_7371_0508-step28.csv')

In [23]:
online = pd.read_csv('./result_670/7371_pred_20180508.csv',sep='\t').rename(columns={'dt':'Date','dcid':'RDCKey','wid':'ProductKey'})

In [25]:
online.drop(online.columns[0],axis=1, inplace=True)
online = online[['Date', 'RDCKey','ProductKey','model','ofdsales']]

In [26]:
print(raw.shape)
print(new.shape)
print(online.shape)

(601468, 137)
(601468, 8)
(204834, 5)

In [27]:
raw.head()

,Date,HierarchyLevel1Key,HierarchyLevel2Key,HierarchyLevel3Key,OrderNonOutlierVolume,ProductKey,RDCKey,brand_code,dt_onstock_min,reserveState,salesForecast_x,vendibility1,skuDecomposedSeasonal,skuDecomposedTrend,level3DecomposedTrend,level3DecomposedSeasonal,Curve,Holiday,Ind_1111_pre,Ind_1111,Ind_1111_post,Ind_618_pre,Ind_618,Ind_618_post,Ind_1212,Month,DayOfWeek,AvgBundleDiscount,AvgDirectDiscount,AvgDiscount,AvgFreegiftDiscount,AvgSyntheticDiscountA,MaxBundleDiscount,MaxDirectDiscount,MaxDiscount,MaxFreegiftDiscount,MaxSyntheticDiscountA,MinBundleDiscount,MinDirectDiscount,MinDiscount,MinFreegiftDiscount,MinSyntheticDiscountA,PromotionCount,SyntheticGrossPrice,bundlecount,bundleflag,daynumberinpromotion,directdiscountflag,dt,durationinhours,freegiftflag,jdprice,numberhierarchylevel1,numberhierarchylevel2,numberhierarchylevel3,numberproducts,promotionkey,promotionsubtype,promotiontype,stockprice,strongmark,suitflag,syntheticdiscounta_vb,syntheticgrossprice_vb,national_rolling14Mean,national_rolling7Mean,national_rolling5Mean,national_rolling3Mean,national_rolling2Mean,national_rolling1Mean,national_rolling14Median,national_rolling7Median,national_rolling28DecayMean,national_rolling14DecayMean,national_rolling7DecayMean,national_rolling3DecayMean,rolling360Mean,rolling180Mean,rolling90Mean,rolling28Mean,rolling14Mean,rolling7Mean,rolling5Mean,rolling3Mean,rolling2Mean,rolling1Mean,rolling14Median,rolling7Median,rolling360DecayMean,rolling180DecayMean,rolling90DecayMean,rolling28DecayMean,rolling14DecayMean,rolling7DecayMean,rolling3DecayMean,SyntheticPromotionSubType,similar_rolling14Mean,similar_rolling7Mean,similar_rolling5Mean,similar_rolling3Mean,similar_rolling2Mean,similar_rolling1Mean,similar_rolling14Median,similar_rolling7Median,similar_rolling28DecayMean,similar_rolling14DecayMean,similar_rolling7DecayMean,similar_rolling3DecayMean,volume_rolling365Shift,volume_rolling180Shift,volume_rolling90Shift,volume_rolling30Shift,volume_rolling7Shift,dd_price_weighted,bd_price_weighted,flashsale_ind,dd_ind,bundle_ind,bundle_buy199get100_ind,suit_ind,freegift_ind,cnt_period,dd_discount_daily_max,dd_discount_sgp_daily_max,bd_discount_daily_max,suit_discount_new_daily_max,dd_price_daily_min,bd_price_daily_min,jdprice_daily_min,sgp_daily_min,dd_discount_wgt,dd_discount_sgp_wgt,bd_discount_wgt,bd_discount_sgp_wgt,ypred,sales,salesForecast_y
0,2018-05-08,670.0,729.0,7371.0,1.0,247046,3.0,15097.0,2017-04-04,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0,0,0,5,1,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,1.0,32.5,0.0,NaN,NaN,NaN,2018-05-08,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,22.27,0.0,NaN,NaN,NaN,2.857143,3.142857,3.8,4.0,5.5,9.0,2.0,2.0,3.987491,3.547352,3.965761,5.590022,1.675,1.6,0.988889,1.035714,0.857143,0.857143,1.0,0.333333,0.5,1.0,1.0,1.0,1.517748,1.351589,1.122086,0.939241,0.875386,0.820443,0.739828,0.0,1.642857,1.142857,1.0,0.333333,0.5,1.0,1.5,1.0,2.117266,1.596996,1.073355,0.761157,0.0,6.0,0.0,0.0,0.0,29.0,29.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.171429,0.107692,0.171429,0.0,29.0,29.0,29.0,32.5,0.0,0.1077,0.0,0.1077,1.178358,0,0
1,2018-05-09,670.0,729.0,7371.0,1.0,247046,3.0,15097.0,2017-04-04,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0,0,0,5,2,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,1.0,32.5,0.0,NaN,NaN,NaN,2018-05-09,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,22.27,0.0,NaN,NaN,NaN,2.857143,3.142857,3.8,4.0,5.5,9.0,2.0,2.0,3.987491,3.547352,3.965761,5.590022,1.675,1.6,0.988889,1.035714,0.857143,0.857143,1.0,0.333333,0.5,1.0,1.0,1.0,1.517748,1.351589,1.122086,0.939241,0.875386,0.820443,0.739828,0.0,1.642857,1.142857,1.0,0.333333,0.5,1.0,1.5,1.0,2.117266,1.596996,1.073355,0.761157,0.0,6.0,0.0,0.0,0.0,29.0,29.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.171429,0.107692,0.171429,0.0,29.0,29.0,29.0,32.5,0.0,0.1077,0.0,0.1077,1.121724,3,3
2,2018-05-10,670.0,729.0,7371.0,1.0,247046,3.0,15097.0,2017-04-04,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,3,0,0,0,0,0,0,0,5,3,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,1.0,32.5,0.0,NaN,NaN,NaN,2018-05-10,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,22.28,0.0,NaN,NaN,NaN,2.857143,3.142857,3.8,4.0,5.5,9.0,2.0,2.0,3.987491,3.547352,3.965761,5.590022,1.675,1.6,0.988889,1.035714,0.857143,0.857143,1.0,0.333333,0.5,1.0,1.0,1.0,1.517748,1.351589,1.122086,0.939241,0.875386,0.820443,0.739828,0.0,1.642857,1.142857,1.0,0.333333,0.5,1.0,1.5,1.0,2.117266,1.596996,1.073355,0.761157,0.0,6.0,0.0,0.0,0.0,29.0,29.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.171429,0.107692,0.171429,0.0,29.0,29.0,29.0,32.5,0.0,0.1077,0.0,0.1077,1.121724,0,0
3,2018-05-11,670.0,729.0,7371.0,1.0,247046,3.0,15097.0,2017-04-04,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2,1,0,0,0,0,0,0,5,4,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,1.0,32.5,0.0,NaN,NaN,NaN,2018-05-11,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,22.27,0.0,NaN,NaN,NaN,2.857143,3.142857,3.8,4.0,5.5,9.0,2.0,2.0,3.987491,3.547352,3.965761,5.590022,1.675,1.6,0.988889,1.035714,0.857143,0.857143,1.0,0.333333,0.5,1.0,1.0,1.0,1.517748,1.351589,1.122086,0.939241,0.875386,0.820443,0.739828,0.0,1.642857,1.142857,1.0,0.333333,0.5,1.0,1.5,1.0,2.117266,1.596996,1.073355,0.761157,0.0,6.0,0.0,0.0,0.0,29.0,29.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.171429,0.107692,0.171429,0.0,29.0,29.0,29.0,32.5,0.0,0.1077,0.0,0.1077,1.043352,2,2
4,2018-05-12,670.0,729.0,7371.0,1.0,247046,3.0,15097.0,2017-04-04,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0,0,0,5,5,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,0.0,0.145714,0.145714,0.0,0.08,1.0,32.5,0.0,NaN,NaN,NaN,2018-05-12,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,22.28,0.0,NaN,NaN,NaN,2.857143,3.142857,3.8,4.0,5.5,9.0,2.0,2.0,3.987491,3.547352,3.965761,5.590022,1.675,1.6,0.988889,1.035714,0.857143,0.857143,1.0,0.333333,0.5,1.0,1.0,1.0,1.517748,1.351589,1.122086,0.939241,0.875386,0.820443,0.739828,0.0,1.642857,1.142857,1.0,0.333333,0.5,1.0,1.5,1.0,2.117266,1.596996,1.073355,0.761157,0.0,6.0,0.0,0.0,0.0,29.0,29.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.171429,0.107692,0.171429,0.0,29.0,29.0,29.0,32.5,0.0,0.1077,0.0,0.1077,0.919101,0,0

In [28]:
new.head()

,Date,RDCKey,ProductKey,ypred,model_2_ypred,sales,salesForecast,ensemble
0,2018-05-08,3.0,247046,1.043977,1.009120,0,0,1.026252
1,2018-05-09,3.0,247046,0.991574,1.078592,3,3,1.033254
2,2018-05-10,3.0,247046,0.943584,1.006736,0,0,0.974137
3,2018-05-11,3.0,247046,0.867182,0.964858,2,2,0.913416
4,2018-05-12,3.0,247046,0.723614,0.740671,0,0,0.732043

In [29]:
online.head()

         Date  RDCKey  ProductKey                 model  ofdsales
0  2018-05-08       6     1024672  lr_minrdc_model_guan  0.114541
1  2018-05-09       6     1024672  lr_minrdc_model_guan  0.114541
2  2018-05-10       6     1024672  lr_minrdc_model_guan  0.114541
3  2018-05-11       6     1024672  lr_minrdc_model_guan  0.114541
4  2018-05-12       6     1024672  lr_minrdc_model_guan  0.114541

In [30]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204834 entries, 0 to 204833
Data columns (total 5 columns):
Date          204834 non-null object
RDCKey        204834 non-null int64
ProductKey    204834 non-null int64
model         204834 non-null object
ofdsales      204834 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 7.8+ MB

In [31]:
list_keys = ['Date','RDCKey','ProductKey']
raw = raw[list_keys + ['ypred','salesForecast_y']].rename(columns={"ypred":"ypred_raw"})

In [32]:
raw.Date = pd.to_datetime(raw.Date)
new.Date = pd.to_datetime(new.Date)
online.Date = pd.to_datetime(online.Date)

In [33]:
df = pd.merge(new, raw, how='left', on=list_keys)

In [34]:
df = df.merge(online, how='left', on=list_keys)

In [35]:
df

,Date,RDCKey,ProductKey,ypred,model_2_ypred,sales,salesForecast,ensemble,ypred_raw,salesForecast_y,model,ofdsales
0,2018-05-08,3,247046,1.043977,1.009120,0,0,1.026252,1.178358,0,lr_model_id,1.049928
1,2018-05-09,3,247046,0.991574,1.078592,3,3,1.033254,1.121724,3,lr_model_id,0.935206
2,2018-05-10,3,247046,0.943584,1.006736,0,0,0.974137,1.121724,0,lr_model_id,1.197808
3,2018-05-11,3,247046,0.867182,0.964858,2,2,0.913416,1.043352,2,lr_model_id,0.973876
4,2018-05-12,3,247046,0.723614,0.740671,0,0,0.732043,0.919101,0,lr_model_id,0.609102
5,2018-05-13,3,247046,0.723614,0.646271,0,0,0.682759,0.877043,0,lr_model_id,0.608138
6,2018-05-14,3,247046,1.295287,1.283237,5,5,1.289234,1.344315,5,lr_model_id,1.079096
7,2018-05-15,3,247046,1.295287,1.269854,1,1,1.282444,1.344315,1,NaN,NaN
8,2018-05-16,3,247046,0.991574,1.129142,8,8,1.055896,1.121724,8,NaN,NaN
9,2018-05-17,3,247046,0.943584,1.032422,0,0,0.986006,1.121724,0,NaN,NaN
10,2018-05-18,3,247046,0.867182,1.013304,0,0,0.934566,1.043352,0,NaN,NaN
11,2018-05-19,3,247046,0.723614,0.817497,0,0,0.767696,0.919101,0,NaN,NaN
12,2018-05-20,3,247046,0.723614,0.730461,0,0,0.727021,0.919101,0,NaN,NaN
13,2018-05-21,3,247046,0.997831,1.099684,1,1,1.046284,1.178358,1,NaN,NaN
14,2018-05-22,3,247046,0.997831,1.068139,1,1,1.031789,1.178358,1,NaN,NaN
15,2018-05-23,3,247046,0.991574,1.133956,0,0,1.057996,1.121724,0,NaN,NaN
16,2018-05-24,3,247046,0.943584,1.037236,0,0,0.988196,1.121724,0,NaN,NaN
17,2018-05-25,3,247046,0.867182,1.018118,2,2,0.936608,1.043352,2,NaN,NaN
18,2018-05-26,3,247046,0.723614,0.822311,0,0,0.769812,0.919101,0,NaN,NaN
19,2018-05-27,3,247046,0.723614,0.730461,1,1,0.727021,0.919101,1,NaN,NaN
20,2018-05-28,3,247046,1.253733,1.301399,2,2,1.277121,1.413809,2,NaN,NaN
21,2018-05-29,3,247046,1.253733,1.269854,0,0,1.261742,1.320672,0,NaN,NaN
22,2018-05-30,3,247046,0.924229,1.032422,0,0,0.975334,1.098082,0,NaN,NaN
23,2018-05-31,3,247046,0.876239,1.032422,2,2,0.947940,1.098082,2,NaN,NaN
24,2018-06-01,3,247046,0.799837,0.958539,3,3,0.872026,1.019710,3,NaN,NaN
25,2018-06-02,3,247046,0.656270,0.690378,2,2,0.672892,0.959736,2,NaN,NaN
26,2018-06-03,3,247046,0.656270,0.606717,0,0,0.630521,0.959736,0,NaN,NaN
27,2018-06-04,3,247046,0.997831,0.740780,4,4,0.850303,1.173870,4,NaN,NaN
28,2018-05-08,3,247048,0.242302,0.233220,1,1,0.237674,0.224175,1,intercept_lr_model_id,0.462000
29,2018-05-09,3,247048,0.242302,0.299037,0,0,0.267696,0.224175,0,intercept_lr_model_id,0.438000
30,2018-05-10,3,247048,0.242302,0.323901,0,0,0.277221,0.224175,0,intercept_lr_model_id,0.473000
31,2018-05-11,3,247048,0.220348,0.259508,0,0,0.238330,0.195686,0,intercept_lr_model_id,0.417000
32,2018-05-12,3,247048,0.161376,0.178624,0,0,0.169563,0.144781,0,intercept_lr_model_id,0.335000
33,2018-05-13,3,247048,0.161376,0.137550,0,0,0.148514,0.144781,0,intercept_lr_model_id,0.416000
34,2018-05-14,3,247048,0.272017,0.280550,0,0,0.276218,0.341882,0,intercept_lr_model_id,0.214000
35,2018-05-15,3,247048,0.290964,0.316399,0,0,0.303149,0.313158,0,NaN,NaN
36,2018-05-16,3,247048,0.290964,0.353216,0,0,0.319082,0.250307,0,NaN,NaN
37,2018-05-17,3,247048,0.283177,0.324973,0,0,0.302639,0.224175,0,NaN,NaN
38,2018-05-18,3,247048,0.239295,0.305855,1,1,0.268511,0.195686,1,NaN,NaN
39,2018-05-19,3,247048,0.187661,0.229110,0,0,0.206324,0.144781,0,NaN,NaN
40,2018-05-20,3,247048,0.187661,0.195536,0,0,0.191518,0.144781,0,NaN,NaN
41,2018-05-21,3,247048,0.261248,0.288155,0,0,0.274043,0.224175,0,NaN,NaN
42,2018-05-22,3,247048,0.261248,0.288155,0,0,0.274043,0.224175,0,NaN,NaN
43,2018-05-23,3,247048,0.261248,0.324973,0,0,0.289647,0.224175,0,NaN,NaN
44,2018-05-24,3,247048,0.261248,0.324973,0,0,0.289647,0.224175,0,NaN,NaN
45,2018-05-25,3,247048,0.239295,0.305855,3,3,0.268511,0.195686,3,NaN,NaN
46,2018-05-26,3,247048,0.187661,0.229110,0,0,0.206324,0.144781,0,NaN,NaN
47,2018-05-27,3,247048,0.192676,0.195536,1,1,0.194096,0.144781,1,NaN,NaN
48,2018-05-28,3,247048,0.290964,0.404026,0,0,0.338298,0.335859,0,NaN,NaN
49,2018-05-29,3,247048,0.290964,0.380217,1,1,0.329656,0.307134,1,NaN,NaN
50,2018-05-30,3,247048,0.290964,0.417034,0,0,0.342775,0.244283,0,NaN,NaN
51,2018-05-31,3,247048,0.283177,0.383343,1,1,0.325733,0.237207,1,NaN,NaN
52,2018-06-01,3,247048,0.270595,0.325168,0,0,0.295382,0.252870,0,NaN,NaN
53,2018-06-02,3,247048,0.187661,0.229227,0,0,0.206372,0.157814,0,NaN,NaN
54,2018-06-03,3,247048,0.187661,0.203842,0,0,0.195417,0.157814,0,NaN,NaN
55,2018-06-04,3,247048,0.261248,0.256140,3,3,0.258669,0.237207,3,NaN,NaN
56,2018-05-08,3,385604,0.110820,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
57,2018-05-09,3,385604,0.043142,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
58,2018-05-10,3,385604,0.043142,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
59,2018-05-11,3,385604,0.043142,0.329431,0,0,0.076292,0.198716,0,NaN,NaN
60,2018-05-12,3,385604,0.043142,0.900306,0,0,0.082338,0.119816,0,NaN,NaN
61,2018-05-13,3,385604,0.043142,0.703938,0,0,0.081301,0.119816,0,NaN,NaN
62,2018-05-14,3,385604,0.110820,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
63,2018-05-15,3,385604,0.110820,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
64,2018-05-16,3,385604,0.043142,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
65,2018-05-17,3,385604,0.043142,0.531527,0,0,0.079806,0.198716,0,NaN,NaN
66,2018-05-18,3,385604,0.043142,0.327326,0,0,0.076236,0.198716,0,NaN,NaN
67,2018-05-19,3,385604,0.043142,0.900306,0,0,0.082338,0.119816,0,NaN,NaN
68,2018-05-20,3,385604,0.043142,0.703938,0,0,0.081301,0.119816,0,NaN,NaN
69,2018-05-21,3,385604,0.110820,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
70,2018-05-22,3,385604,0.110820,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
71,2018-05-23,3,385604,0.043142,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
72,2018-05-24,3,385604,0.043142,0.531527,0,0,0.079806,0.198716,0,NaN,NaN
73,2018-05-25,3,385604,0.043142,0.327326,0,0,0.076236,0.198716,0,NaN,NaN
74,2018-05-26,3,385604,0.043142,0.900306,0,0,0.082338,0.119816,0,NaN,NaN
75,2018-05-27,3,385604,0.043142,0.703938,0,0,0.081301,0.119816,0,NaN,NaN
76,2018-05-28,3,385604,0.110820,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
77,2018-05-29,3,385604,0.110820,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
78,2018-05-30,3,385604,0.043142,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
79,2018-05-31,3,385604,0.043142,0.531527,0,0,0.079806,0.198716,0,NaN,NaN
80,2018-06-01,3,385604,0.043142,0.327326,0,0,0.076236,0.198716,0,NaN,NaN
81,2018-06-02,3,385604,0.043142,0.900306,0,0,0.082338,0.119816,0,NaN,NaN
82,2018-06-03,3,385604,0.043142,0.703938,0,0,0.081301,0.119816,0,NaN,NaN
83,2018-06-04,3,385604,0.110820,0.000000,0,0,0.000000,0.198716,0,NaN,NaN
84,2018-05-08,3,385612,34.310250,36.052980,80,80,35.160033,46.933598,80,noneBookPro_lr_model_id,37.401379
85,2018-05-09,3,385612,32.552128,53.231530,12,11,40.399293,46.341476,11,noneBookPro_lr_model_id,36.818588
86,2018-05-10,3,385612,31.166730,53.598834,27,27,39.414599,44.757020,27,noneBookPro_lr_model_id,37.064034
87,2018-05-11,3,385612,24.326560,60.596474,25,25,34.716229,26.337803,25,noneBookPro_lr_model_id,33.205536
88,2018-05-12,3,385612,20.023954,23.835353,3,3,21.764047,33.836433,3,noneBookPro_lr_model_id,31.257866
89,2018-05-13,3,385612,24.642366,27.331743,5,5,25.917474,35.664505,5,noneBookPro_lr_model_id,19.831678
90,2018-05-14,3,385612,36.853767,47.550490,59,59,41.524320,45.668690,59,noneBookPro_lr_model_id,29.769371
91,2018-05-15,3,385612,34.310250,34.922502,33,33,34.613669,47.916985,33,NaN,NaN
92,2018-05-16,3,385612,32.552128,48.817849,52,52,39.059243,47.324863,52,NaN,NaN
93,2018-05-17,3,385612,31.166730,42.087024,37,37,35.812906,44.358906,37,NaN,NaN
94,2018-05-18,3,385612,24.326560,38.292538,11,11,29.752128,27.321192,11,NaN,NaN
95,2018-05-19,3,385612,18.821512,23.446576,19,19,20.881002,31.803253,19,NaN,NaN
96,2018-05-20,3,385612,25.844809,27.331743,21,21,26.567487,37.697693,21,NaN,NaN
97,2018-05-21,3,385612,36.853767,34.885041,47,47,35.842391,45.668690,47,NaN,NaN
98,2018-05-22,3,385612,34.310250,37.672586,30,30,35.912890,47.916985,30,NaN,NaN
99,2018-05-23,3,385612,33.341545,52.599703,37,37,40.812890,47.324863,37,NaN,NaN
100,2018-05-24,3,385612,31.956152,45.929244,25,25,37.689272,44.358906,25,NaN,NaN
101,2018-05-25,3,385612,25.115976,41.188924,34,34,31.204331,27.321192,34,NaN,NaN
102,2018-05-26,3,385612,19.610930,25.167666,23,23,22.044520,23.934925,23,NaN,NaN
103,2018-05-27,3,385612,25.431784,27.775360,13,13,26.551959,27.796185,13,NaN,NaN
104,2018-05-28,3,385612,36.853767,48.699174,19,19,41.956431,45.668690,19,NaN,NaN
105,2018-05-29,3,385612,34.310250,37.672586,18,18,35.912890,47.916985,18,NaN,NaN
106,2018-05-30,3,385612,33.341545,52.599703,5,5,40.812890,47.324863,5,NaN,NaN
107,2018-05-31,3,385612,33.158596,41.274927,33,33,36.774253,45.738800,33,NaN,NaN
108,2018-06-01,3,385612,31.313372,39.972917,28,28,35.117184,30.302195,28,NaN,NaN
109,2018-06-02,3,385612,25.808325,28.438572,12,12,27.059683,25.968110,12,NaN,NaN
110,2018-06-03,3,385612,30.426737,27.863459,10,10,29.088739,27.796185,10,NaN,NaN
111,2018-06-04,3,385612,35.666443,32.312228,85,85,33.906583,46.596687,85,NaN,NaN
112,2018-05-08,3,385627,17.410650,10.903313,20,20,13.409198,15.489963,20,noneBookPro_lr_model_id,12.688548
113,2018-05-09,3,385627,17.400940,15.887175,6,6,16.609638,14.048045,6,noneBookPro_lr_model_id,13.709849
114,2018-05-10,3,385627,13.804873,21.512655,11,11,16.817682,13.498335,11,noneBookPro_lr_model_id,10.095797
115,2018-05-11,3,385627,10.525766,11.457029,6,6,10.971672,11.363477,6,noneBookPro_lr_model_id,9.061293
116,2018-05-12,3,385627,7.891268,6.420474,2,2,7.080296,6.547846,2,noneBookPro_lr_model_id,10.551636
117,2018-05-13,3,385627,7.553510,5.304483,0,0,6.232305,9.146980,0,noneBookPro_lr_model_id,9.653046
118,2018-05-14,3,385627,20.558498,16.223280,15,15,18.135408,15.253297,15,noneBookPro_lr_model_id,10.922007
119,2018-05-15,3,385627,17.410650,10.903313,15,15,13.409198,15.489963,15,NaN,NaN
120,2018-05-16,3,385627,17.400940,15.887175,28,28,16.609638,14.048045,28,NaN,NaN
121,2018-05-17,3,385627,13.804873,14.988042,48,48,14.372148,12.116832,48,NaN,NaN
122,2018-05-18,3,385627,10.525766,11.088167,3,3,10.799650,11.363477,3,NaN,NaN
123,2018-05-19,3,385627,7.412660,5.865353,1,1,6.548851,7.531958,1,NaN,NaN
124,2018-05-20,3,385627,8.032118,5.669748,1,1,6.647282,10.131093,1,NaN,NaN
125,2018-05-21,3,385627,19.710829,15.809856,46,46,17.546135,16.237408,46,NaN,NaN
126,2018-05-22,3,385627,16.562980,14.141453,11,11,15.256730,15.489963,11,NaN,NaN
127,2018-05-23,3,385627,16.553270,17.332403,4,4,16.933879,14.048045,4,NaN,NaN
128,2018-05-24,3,385627,12.957202,15.174581,24,24,13.978503,12.116832,24,NaN,NaN
129,2018-05-25,3,385627,10.156705,11.024734,28,28,10.572933,11.363477,28,NaN,NaN
130,2018-05-26,3,385627,7.043598,6.026819,1,1,6.495660,7.531958,1,NaN,NaN
131,2018-05-27,3,385627,7.184448,5.842595,3,3,6.444413,10.131093,3,NaN,NaN
132,2018-05-28,3,385627,20.052260,20.109909,25,25,20.081043,16.237408,25,NaN,NaN
133,2018-05-29,3,385627,17.086103,13.437489,5,5,15.043729,15.489963,5,NaN,NaN
134,2018-05-30,3,385627,16.701727,17.612537,9,9,17.145044,14.048045,9,NaN,NaN
135,2018-05-31,3,385627,13.584267,14.867730,5,5,14.197050,12.116832,5,NaN,NaN
136,2018-06-01,3,385627,11.152831,13.373518,17,17,12.162641,11.363477,17,NaN,NaN
137,2018-06-02,3,385627,7.891268,6.871600,2,2,7.346220,6.547846,2,NaN,NaN
138,2018-06-03,3,385627,7.553510,5.750046,4,4,6.529537,9.146980,4,NaN,NaN
139,2018-06-04,3,385627,31.235699,10.720928,19,19,15.962945,19.037110,19,NaN,NaN
140,2018-05-08,3,385632,5.485330,4.762172,1,1,5.098234,5.156532,1,noneBookPro_lr_model_id,6.819796
141,2018-05-09,3,385632,4.852063,5.811642,2,2,5.288678,4.798603,2,noneBookPro_lr_model_id,7.042231
142,2018-05-10,3,385632,4.730774,7.118030,1,1,5.683914,4.366934,1,noneBookPro_lr_model_id,7.022735
143,2018-05-11,3,385632,3.776993,4.663258,2,2,4.173595,3.493879,2,noneBookPro_lr_model_id,6.416261
144,2018-05-12,3,385632,2.253181,1.659768,1,1,1.911478,2.717416,1,noneBookPro_lr_model_id,5.994875
145,2018-05-13,3,385632,2.253181,1.599756,1,1,1.871060,2.852718,1,noneBookPro_lr_model_id,4.118329
146,2018-05-14,3,385632,5.054014,5.082264,3,3,5.068100,6.023428,3,noneBookPro_lr_model_id,3.787818
147,2018-05-15,3,385632,4.716312,3.267376,15,15,3.860362,5.645574,15,NaN,NaN
148,2018-05-16,3,385632,4.083045,4.932935,1,1,4.467933,4.866784,1,NaN,NaN
149,2018-05-17,3,385632,3.961756,4.667571,1,1,4.285798,4.435115,1,NaN,NaN
150,2018-05-18,3,385632,3.397345,3.859702,4,4,3.613795,3.562060,4,NaN,NaN
151,2018-05-19,3,385632,2.253181,1.659768,1,1,1.911478,2.852718,1,NaN,NaN
152,2018-05-20,3,385632,2.253181,1.599756,4,4,1.871060,2.852718,4,NaN,NaN
153,2018-05-21,3,385632,5.719957,5.662581,12,12,5.691125,5.669689,12,NaN,NaN
154,2018-05-22,3,385632,5.485330,4.478955,1,1,4.931321,5.291835,1,NaN,NaN
155,2018-05-23,3,385632,4.852063,5.638627,1,1,5.215857,4.933906,1,NaN,NaN
156,2018-05-24,3,385632,4.730774,5.638627,1,1,5.144959,4.502237,1,NaN,NaN
157,2018-05-25,3,385632,3.776993,4.586921,0,0,4.142742,3.629182,0,NaN,NaN
158,2018-05-26,3,385632,2.653281,2.236597,6,6,2.427186,2.919841,6,NaN,NaN
159,2018-05-27,3,385632,2.653281,2.126658,9,9,2.360959,2.919841,9,NaN,NaN
160,2018-05-28,3,385632,5.713740,5.662581,8,8,5.688046,5.669689,8,NaN,NaN
161,2018-05-29,3,385632,5.485330,4.478955,0,0,4.931321,5.291835,0,NaN,NaN
162,2018-05-30,3,385632,4.852063,5.638627,11,11,5.215857,4.933906,11,NaN,NaN
163,2018-05-31,3,385632,4.730774,5.638627,0,0,5.144959,4.502237,0,NaN,NaN
164,2018-06-01,3,385632,6.945703,6.059176,4,4,6.472222,4.270770,4,NaN,NaN
165,2018-06-02,3,385632,2.653281,2.391152,1,1,2.515406,2.784538,1,NaN,NaN
166,2018-06-03,3,385632,2.653281,2.281212,1,1,2.453219,2.784538,1,NaN,NaN
167,2018-06-04,3,385632,5.477307,4.122839,4,4,4.704523,5.165212,4,NaN,NaN
168,2018-05-08,3,385643,3.854238,3.661142,0,0,3.755209,4.071600,0,noneBookPro_lr_model_id,5.407215
169,2018-05-09,3,385643,3.351813,4.738214,2,2,3.926218,3.872914,2,noneBookPro_lr_model_id,5.640130
170,2018-05-10,3,385643,3.351813,4.792676,2,2,3.944791,3.516670,2,noneBookPro_lr_model_id,5.502295
171,2018-05-11,3,385643,2.842513,4.105067,2,2,3.359071,3.359758,2,noneBookPro_lr_model_id,4.854800
172,2018-05-12,3,385643,2.064224,2.316525,0,0,2.183109,2.726506,0,noneBookPro_lr_model_id,4.391831
173,2018-05-13,3,385643,2.064224,2.202846,2,2,2.131283,2.726506,2,noneBookPro_lr_model_id,3.242136
174,2018-05-14,3,385643,3.931005,4.682907,10,10,4.274140,4.398365,10,noneBookPro_lr_model_id,2.687713
175,2018-05-15,3,385643,3.854238,3.661142,9,9,3.755209,4.071600,9,NaN,NaN
176,2018-05-16,3,385643,3.351813,4.738214,3,3,3.926218,3.872914,3,NaN,NaN
177,2018-05-17,3,385643,3.351813,4.670913,3,3,3.902920,3.516670,3,NaN,NaN
178,2018-05-18,3,385643,2.842513,4.102963,1,1,3.358366,3.359758,1,NaN,NaN
179,2018-05-19,3,385643,2.064224,2.316525,3,3,2.183109,2.726506,3,NaN,NaN
180,2018-05-20,3,385643,2.064224,2.202846,6,6,2.131283,2.726506,6,NaN,NaN
181,2018-05-21,3,385643,4.190016,4.386445,7,7,4.285981,4.330937,7,NaN,NaN
182,2018-05-22,3,385643,3.999749,3.099316,6,6,3.492428,4.004172,6,NaN,NaN
183,2018-05-23,3,385643,3.236528,4.176388,1,1,3.646877,3.558121,1,NaN,NaN
184,2018-05-24,3,385643,3.236528,4.109088,4,4,3.620984,3.201877,4,NaN,NaN
185,2018-05-25,3,385643,2.727229,3.639919,1,1,3.118160,3.044965,1,NaN,NaN
186,2018-05-26,3,385643,1.948939,1.608349,0,0,1.762339,2.100201,0,NaN,NaN
187,2018-05-27,3,385643,1.948939,1.518300,14,14,1.706876,2.100201,14,NaN,NaN
188,2018-05-28,3,385643,4.190016,4.436900,0,0,4.309925,4.330937,0,NaN,NaN
189,2018-05-29,3,385643,3.999749,3.099316,0,0,3.492428,4.004172,0,NaN,NaN
190,2018-05-30,3,385643,3.236528,4.176388,4,4,3.646877,3.558121,4,NaN,NaN
191,2018-05-31,3,385643,3.236528,4.109088,1,1,3.620984,3.201877,1,NaN,NaN
192,2018-06-01,3,385643,2.842513,4.102963,1,1,3.358366,3.359758,1,NaN,NaN
193,2018-06-02,3,385643,2.064224,2.344869,2,2,2.195615,2.591203,2,NaN,NaN
194,2018-06-03,3,385643,2.064224,2.254820,1,1,2.155316,2.591203,1,NaN,NaN
195,2018-06-04,3,385643,3.931005,3.092666,1,1,3.461804,4.411942,1,NaN,NaN
196,2018-05-08,3,385649,4.199204,3.639094,6,6,3.899137,4.218186,6,noneBookPro_lr_model_id,3.316125
197,2018-05-09,3,385649,4.058796,4.234611,8,8,4.144840,4.118561,8,noneBookPro_lr_model_id,3.417475
198,2018-05-10,3,385649,3.769737,3.956090,5,5,3.860666,3.069374,5,noneBookPro_lr_model_id,3.321676
199,2018-05-11,3,385649,2.760762,3.287353,4,4,3.001134,2.685559,4,noneBookPro_lr_model_id,2.982169
200,2018-05-12,3,385649,2.285213,2.051747,4,4,2.162197,2.075039,4,noneBookPro_lr_model_id,2.878392
201,2018-05-13,3,385649,2.285213,1.924457,0,0,2.089377,2.075039,0,noneBookPro_lr_model_id,2.410881
202,2018-05-14,3,385649,4.508208,4.325261,3,3,4.414840,4.218186,3,noneBookPro_lr_model_id,2.509825
203,2018-05-15,3,385649,4.431440,3.795178,2,2,4.088705,4.218186,2,NaN,NaN
204,2018-05-16,3,385649,4.058796,4.202897,4,4,4.129590,4.118561,4,NaN,NaN
205,2018-05-17,3,385649,3.769737,3.836450,1,1,3.802801,3.069374,1,NaN,NaN
206,2018-05-18,3,385649,2.760762,3.285249,4,4,3.000256,2.685559,4,NaN,NaN
207,2018-05-19,3,385649,2.052978,1.763860,2,2,1.897469,2.075039,2,NaN,NaN
208,2018-05-20,3,385649,2.052978,1.604856,0,0,1.801467,2.075039,0,NaN,NaN
209,2018-05-21,3,385649,3.853520,3.502537,0,0,3.669656,3.550911,0,NaN,NaN
210,2018-05-22,3,385649,3.770536,2.886099,5,5,3.269562,3.550911,5,NaN,NaN
211,2018-05-23,3,385649,3.393694,3.398169,5,5,3.395930,3.451286,5,NaN,NaN
212,2018-05-24,3,385649,3.267924,3.364973,1,1,3.315738,3.001946,1,NaN,NaN
213,2018-05-25,3,385649,2.669840,2.996001,0,0,2.823533,2.618131,0,NaN,NaN
214,2018-05-26,3,385649,1.962056,1.556022,4,4,1.735608,1.942047,4,NaN,NaN
215,2018-05-27,3,385649,1.962056,1.439694,2,2,1.660769,1.942047,2,NaN,NaN
216,2018-05-28,3,385649,3.847303,3.521584,6,6,3.677245,3.550911,6,NaN,NaN
217,2018-05-29,3,385649,3.770536,2.886099,4,4,3.269562,3.550911,4,NaN,NaN
218,2018-05-30,3,385649,3.393694,3.398169,1,1,3.395930,3.451286,1,NaN,NaN
219,2018-05-31,3,385649,3.267924,3.345926,2,2,3.306465,3.001946,2,NaN,NaN
220,2018-06-01,3,385649,2.760762,3.266202,3,3,2.992289,2.685559,3,NaN,NaN
221,2018-06-02,3,385649,2.285213,2.109119,0,0,2.193638,2.075039,0,NaN,NaN
222,2018-06-03,3,385649,2.285213,2.005459,2,2,2.136216,2.075039,2,NaN,NaN
223,2018-06-04,3,385649,3.923925,3.644006,15,15,3.778788,4.243505,15,NaN,NaN
224,2018-05-08,3,385870,10.755492,7.125961,25,25,8.572370,8.649643,25,noneBookPro_lr_model_id_minirdc,10.575842
225,2018-05-09,3,385870,10.284770,9.517605,3,3,9.886327,8.020554,3,noneBookPro_lr_model_id_minirdc,11.473542
226,2018-05-10,3,385870,9.235432,11.560357,30,30,10.267934,7.282274,30,noneBookPro_lr_model_id_minirdc,10.372300
227,2018-05-11,3,385870,7.935521,9.076113,47,47,8.467580,6.530428,47,noneBookPro_lr_model_id_minirdc,9.650796
228,2018-05-12,3,385870,5.860389,3.471850,0,0,4.360452,4.150804,0,noneBookPro_lr_model_id_minirdc,8.432278
229,2018-05-13,3,385870,7.080281,3.691956,2,2,4.853232,4.872673,2,noneBookPro_lr_model_id_minirdc,9.903351
230,2018-05-14,3,385870,13.224031,9.365606,23,23,10.965299,9.207177,23,noneBookPro_lr_model_id_minirdc,13.377481
231,2018-05-15,3,385870,9.851369,7.159808,51,51,8.292655,8.514340,51,NaN,NaN
232,2018-05-16,3,385870,10.284770,9.724979,10,10,9.997044,7.885251,10,NaN,NaN
233,2018-05-17,3,385870,9.235432,8.637092,18,18,8.926246,7.146971,18,NaN,NaN
234,2018-05-18,3,385870,7.935521,7.568222,0,0,7.747521,6.395125,0,NaN,NaN
235,2018-05-19,3,385870,5.860389,3.789635,1,1,4.602835,4.150804,1,NaN,NaN
236,2018-05-20,3,385870,7.362374,4.009741,0,0,5.191860,5.007976,0,NaN,NaN
237,2018-05-21,3,385870,13.236414,9.450504,0,0,11.027570,9.207177,0,NaN,NaN
238,2018-05-22,3,385870,10.755492,7.077168,2,2,8.536968,8.649643,2,NaN,NaN
239,2018-05-23,3,385870,10.284770,9.468812,8,8,9.859939,8.020554,8,NaN,NaN
240,2018-05-24,3,385870,9.235432,9.639853,0,0,9.433310,7.282274,0,NaN,NaN
241,2018-05-25,3,385870,7.935521,8.314449,5,5,8.120567,6.530428,5,NaN,NaN
242,2018-05-26,3,385870,5.860389,3.821946,0,0,4.626589,4.286107,0,NaN,NaN
243,2018-05-27,3,385870,7.362374,4.032879,0,0,5.211216,5.007976,0,NaN,NaN
244,2018-05-28,3,385870,13.236414,10.728310,20,20,11.851115,9.207177,20,NaN,NaN
245,2018-05-29,3,385870,10.755492,6.681037,3,3,8.242219,8.649643,3,NaN,NaN

In [36]:
df2 = df[df.Date<='2018-06-04']
df2['final_ensemble'] = 2 / ( 1 / df2.ypred_raw + 1 / df2.model_2_ypred)

df2['final_ensemble_2'] = (df2.ypred_raw + df2.model_2_ypred) / 2

#df2['final_ensemble_3'] = (0.303/(0.294+0.303)) * df2.ypred_raw + (0.294/(0.294+0.303)) * df2.model_2_ypred

print(df2.final_ensemble.sum())
print(np.sum(np.abs(df2.final_ensemble - df2.salesForecast)) / np.sum(df2.salesForecast))

print(df2.final_ensemble_2.sum())
print(np.sum(np.abs(df2.final_ensemble_2 - df2.salesForecast)) / np.sum(df2.salesForecast))

#print df2.final_ensemble_3.sum()
#print np.sum(np.abs(df2.final_ensemble_3 - df2.salesForecast)) / np.sum(df2.salesForecast)

print(df2.salesForecast.sum())
print(df2.ypred_raw.sum())
print(df2.model_2_ypred.sum())
print("\n")
print(np.sum(np.abs(df2.ypred_raw - df2.salesForecast)) / np.sum(df2.salesForecast))
print(np.sum(np.abs(df2.model_2_ypred - df2.salesForecast)) / np.sum(df2.salesForecast))

909380.414177
0.765740001074
955548.360177
0.783927648772
990036
923569.154203
987527.566152


0.779840189669
0.81757368284

In [39]:
df2.head()

,Date,RDCKey,ProductKey,ypred,model_2_ypred,sales,salesForecast,ensemble,ypred_raw,salesForecast_y,model,ofdsales,final_ensemble,final_ensemble_2
0,2018-05-08,3,247046,1.043977,1.009120,0,0,1.026252,1.178358,0,lr_model_id,1.049928,1.087192,1.093739
1,2018-05-09,3,247046,0.991574,1.078592,3,3,1.033254,1.121724,3,lr_model_id,0.935206,1.099735,1.100158
2,2018-05-10,3,247046,0.943584,1.006736,0,0,0.974137,1.121724,0,lr_model_id,1.197808,1.061124,1.064230
3,2018-05-11,3,247046,0.867182,0.964858,2,2,0.913416,1.043352,2,lr_model_id,0.973876,1.002571,1.004105
4,2018-05-12,3,247046,0.723614,0.740671,0,0,0.732043,0.919101,0,lr_model_id,0.609102,0.820295,0.829886

In [38]:
df22 = df2[(df2.Date<='2018-05-14')]
df3 = df22.groupby(['RDCKey','ProductKey']).sum().reset_index()
#df3['final_ensemble'] = 2 / ( 1 / df3.ypred_raw + 1 / df3.model_2_ypred)

#df3['final_ensemble_2'] = (df3.ypred_raw + df3.model_2_ypred) / 2

#df3['final_ensemble_3'] = (0.303/(0.294+0.303)) * df2.ypred_raw + (0.294/(0.294+0.303)) * df2.model_2_ypred

print (df3.final_ensemble.sum())
print (np.sum(np.abs(df3.final_ensemble - df3.salesForecast)) / np.sum(df3.salesForecast))

print (df3.final_ensemble_2.sum())
print (np.sum(np.abs(df3.final_ensemble_2 - df3.salesForecast)) / np.sum(df3.salesForecast))

#print df2.final_ensemble_3.sum()
#print np.sum(np.abs(df2.final_ensemble_3 - df2.salesForecast)) / np.sum(df2.salesForecast)
print ("\n")
print (df3.salesForecast.sum())
print (df3.ypred_raw.sum())
print (df3.model_2_ypred.sum())
print ("\n")
print (np.sum(np.abs(df3.ypred_raw - df3.salesForecast)) / np.sum(df3.salesForecast))
print (np.sum(np.abs(df3.model_2_ypred - df3.salesForecast)) / np.sum(df3.salesForecast))

229806.877206
0.393911769101
240333.815627
0.400606393236


251373
228522.228281
252145.402972


0.404166073332
0.423871288865

In [42]:
df3.head(10)

,RDCKey,ProductKey,model_2_ypred,ensemble,ypred_raw,salesForecast_y,ofdsales,final_ensemble,final_ensemble_2
0,3.0,247046,6.729485,6.651096,7.605618,10,6.453155,7.128161,7.167552
1,3.0,247048,1.712392,1.615216,1.499655,1,2.755000,1.582146,1.606023
2,3.0,385604,1.933674,0.239931,1.233213,0,NaN,0.664163,1.583443
3,3.0,385612,302.197403,238.895996,279.539525,210,225.348452,281.331853,290.868464
4,3.0,385627,87.708409,89.256198,85.347943,60,76.682175,84.629268,86.528176
5,3.0,385632,30.696890,29.095059,29.409510,11,41.202045,29.239728,30.053200
6,3.0,385643,26.499378,23.573822,24.672318,18,31.726119,25.347361,25.585848
7,3.0,385649,23.418613,23.572190,22.459945,30,20.836543,22.827287,22.939279
8,3.0,385870,53.809448,57.373194,48.713553,130,73.785589,50.318449,51.261500
9,3.0,385874,216.267107,166.718498,156.625461,290,159.705894,174.259594,186.446284

In [41]:
df3.drop(['ypred','sales','salesForecast'],axis=1,inplace=True)

In [43]:
df3['model2_pred_mape'] = np.abs(df3.model_2_ypred - df3.salesForecast_y) / df3.salesForecast_y
df3['raw_pred_mape'] = np.abs(df3.ypred_raw - df3.salesForecast_y) / df3.salesForecast_y
df3['online_pred_mape'] = np.abs(df3.ofdsales - df3.salesForecast_y) / df3.salesForecast_y
df3['ensemble_mape'] = np.abs(df3.final_ensemble - df3.salesForecast_y) / df3.salesForecast_y

In [45]:
print (df3[df3.raw_pred_mape==np.inf].shape)
print (df3[df3.salesForecast_y==0].shape)

(10516, 13)
(10517, 13)

In [49]:
df4 = df3[df3.salesForecast_y!=0]

In [60]:
(df4.salesForecast_y == 0).any()

False

In [68]:
np.geterr()

{'divide': 'warn', 'invalid': 'warn', 'over': 'warn', 'under': 'ignore'}

In [71]:
cate3 = 7371
sales_threshold = np.arange(0, 2000, 100)
tmp_list = []
for i in range(len(sales_threshold)):
    if i != len(sales_threshold)-1:
        tmp = df4[(sales_threshold[i]<df4.salesForecast_y)&(df4.salesForecast_y <= sales_threshold[i+1])]
        print('range in ',sales_threshold[i], sales_threshold[i+1], 'shape:', tmp.shape)
#         print(type(np.sum(tmp.salesForecast_y)))
#         print(type(np.sum(np.abs(tmp.ypred_raw - tmp.salesForecast_y))))
        tmp_oneline_df = pd.DataFrame()
        tmp_oneline_df['cate3'] = [cate3]
        tmp_oneline_df['range_min'] = [sales_threshold[i]]
        tmp_oneline_df['range_max'] = [sales_threshold[i+1]]
        tmp_oneline_df['count_num'] = [tmp.shape[0]]
        tmp_oneline_df['sales_ratio_total'] = [float(tmp.salesForecast_y.sum()) / df4.salesForecast_y.sum()]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['online_pred_sum'] = [tmp.ofdsales.sum()]
        tmp_oneline_df['ypred_raw_sum'] = [tmp.ypred_raw.sum()]
        tmp_oneline_df['model_2_ypred_sum'] = [tmp.model_2_ypred.sum()]
        tmp_oneline_df['ensemble_sum'] = [tmp.final_ensemble.sum()]
        tmp_oneline_df['actual_sales_sum'] = [tmp.salesForecast_y.sum()]
        tmp_oneline_df['online_pred_mape'] = [np.sum(np.abs(tmp.ofdsales - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['ypred_raw_mape'] = [np.sum(np.abs(tmp.ypred_raw - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['model_2_ypred_mape'] = [np.sum(np.abs(tmp.model_2_ypred - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['ensemble_mape'] = [np.sum(np.abs(tmp.final_ensemble - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
    else:
        print('larger than',sales_threshold[i], 'shape:', tmp.shape)
        tmp = df4[(sales_threshold[i]<df4.salesForecast_y)]
        tmp_oneline_df = pd.DataFrame()
        tmp_oneline_df['cate3'] = [cate3]
        tmp_oneline_df['range_min'] = [sales_threshold[i]]
        tmp_oneline_df['range_max'] = [-999]
        tmp_oneline_df['count_num'] = [tmp.shape[0]]
        tmp_oneline_df['sales_ratio_total'] = [float(tmp.salesForecast_y.sum()) / df4.salesForecast_y.sum()]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['online_pred_sum'] = [tmp.ofdsales.sum()]
        tmp_oneline_df['ypred_raw_sum'] = [tmp.ypred_raw.sum()]
        tmp_oneline_df['model_2_ypred_sum'] = [tmp.model_2_ypred.sum()]
        tmp_oneline_df['ensemble_sum'] = [tmp.final_ensemble.sum()]
        tmp_oneline_df['actual_sales_sum'] = [tmp.salesForecast_y.sum()]
        tmp_oneline_df['online_pred_mape'] = [np.sum(np.abs(tmp.ofdsales - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['ypred_raw_mape'] = [np.sum(np.abs(tmp.ypred_raw - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['model_2_ypred_mape'] = [np.sum(np.abs(tmp.model_2_ypred - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['ensemble_mape'] = [np.sum(np.abs(tmp.final_ensemble - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
    tmp_list.append(tmp_oneline_df)
        
stat_df = pd.concat(tmp_list)

range in  0 100 shape: (10455, 13)
range in  100 200 shape: (281, 13)
range in  200 300 shape: (99, 13)
range in  300 400 shape: (43, 13)
range in  400 500 shape: (29, 13)
range in  500 600 shape: (17, 13)
range in  600 700 shape: (5, 13)
range in  700 800 shape: (8, 13)
range in  800 900 shape: (3, 13)
range in  900 1000 shape: (7, 13)
range in  1000 1100 shape: (9, 13)
range in  1100 1200 shape: (0, 13)
range in  1200 1300 shape: (2, 13)
range in  1300 1400 shape: (2, 13)
range in  1400 1500 shape: (1, 13)
range in  1500 1600 shape: (0, 13)
range in  1600 1700 shape: (0, 13)
range in  1700 1800 shape: (0, 13)
range in  1800 1900 shape: (0, 13)
larger than 1900 shape: (0, 13)

In [72]:
stat_df

,cate3,range_min,range_max,count_num,sales_ratio_total,online_pred_sum,ypred_raw_sum,model_2_ypred_sum,ensemble_sum,actual_sales_sum,online_pred_mape,ypred_raw_mape,model_2_ypred_mape,ensemble_mape
0,7371,0,100,10455,0.431307,97206.174191,95690.320522,111824.364359,98499.383458,108419,0.569439,0.536630,0.575582,0.526516
0,7371,100,200,281,0.158350,31058.225495,32652.342700,33077.621963,31451.500277,39805,0.405612,0.366024,0.335821,0.345650
0,7371,200,300,99,0.096347,19073.434082,20260.755641,20523.055582,19495.164874,24219,0.325025,0.288833,0.268603,0.277840
0,7371,300,400,43,0.058825,12789.637921,13047.632897,13218.379653,12724.333312,14787,0.360351,0.257033,0.271359,0.263459
0,7371,400,500,29,0.050117,9750.888907,9798.110316,10936.852866,9990.924870,12598,0.306278,0.276712,0.244825,0.262866
0,7371,500,600,17,0.037864,7941.658472,8343.052314,8792.918352,8350.492285,9518,0.239952,0.218435,0.165455,0.190085
0,7371,600,700,5,0.012861,2618.870487,2949.449769,2882.389237,2823.604639,3233,0.215792,0.203180,0.174222,0.188466
0,7371,700,800,8,0.023646,7116.284899,6573.638247,7492.329736,6918.422303,5944,0.401898,0.202473,0.330816,0.257254
0,7371,800,900,3,0.009922,1823.664313,2220.428978,2264.683700,2160.359727,2494,0.268779,0.109692,0.205320,0.148149
0,7371,900,1000,7,0.026129,6110.730003,6845.326091,7035.161981,6803.902096,6568,0.189538,0.144750,0.135519,0.130018
0,7371,1000,1100,9,0.037438,8412.808131,8846.722843,9681.454379,9091.873676,9411,0.135423,0.140304,0.086151,0.098183
0,7371,1100,1200,0,NaN,0.000000,0.000000,0.000000,0.000000,0,NaN,NaN,NaN,NaN
0,7371,1200,1300,2,0.009949,1974.641117,2281.588437,2158.736600,2187.921508,2501,0.210459,0.167126,0.148358,0.164392
0,7371,1300,1400,2,0.010813,3190.966353,2918.319064,3117.667325,2994.947926,2718,0.197779,0.073701,0.147045,0.101894
0,7371,1400,1500,1,0.005796,1132.897724,1290.319525,1403.781046,1335.654464,1457,0.222445,0.114400,0.036526,0.083285
0,7371,1500,1600,0,NaN,0.000000,0.000000,0.000000,0.000000,0,NaN,NaN,NaN,NaN
0,7371,1600,1700,0,NaN,0.000000,0.000000,0.000000,0.000000,0,NaN,NaN,NaN,NaN
0,7371,1700,1800,0,NaN,0.000000,0.000000,0.000000,0.000000,0,NaN,NaN,NaN,NaN
0,7371,1800,1900,0,NaN,0.000000,0.000000,0.000000,0.000000,0,NaN,NaN,NaN,NaN
0,7371,1900,-999,3,0.030636,7711.462654,8506.360260,8029.071519,8178.772801,7701,0.250079,0.129458,0.042601,0.069517

In [83]:
df4_small = df4[df4.salesForecast_y<=100]
sales_threshold = np.arange(0, 100, 5)
tmp_list = []
for i in range(len(sales_threshold)):
    if i != len(sales_threshold)-1:
        tmp = df4_small[(sales_threshold[i]<df4_small.salesForecast_y)&(df4_small.salesForecast_y <= sales_threshold[i+1])]
        print('range in ',sales_threshold[i], sales_threshold[i+1], 'shape:', tmp.shape)
        tmp_oneline_df = pd.DataFrame()
        tmp_oneline_df['cate3'] = [cate3]
        tmp_oneline_df['range_min'] = [sales_threshold[i]]
        tmp_oneline_df['range_max'] = [sales_threshold[i+1]]
        tmp_oneline_df['count_num'] = [tmp.shape[0]]
        tmp_oneline_df['sales_ratio_total'] = [float(tmp.salesForecast_y.sum()) / df4_small.salesForecast_y.sum()]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['online_pred_sum'] = [tmp.ofdsales.sum()]
        tmp_oneline_df['ypred_raw_sum'] = [tmp.ypred_raw.sum()]
        tmp_oneline_df['model_2_ypred_sum'] = [tmp.model_2_ypred.sum()]
        tmp_oneline_df['ensemble_sum'] = [tmp.final_ensemble.sum()]
        tmp_oneline_df['actual_sales_sum'] = [tmp.salesForecast_y.sum()]
        tmp_oneline_df['online_pred_mape'] = [np.sum(np.abs(tmp.ofdsales - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['ypred_raw_mape'] = [np.sum(np.abs(tmp.ypred_raw - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['model_2_ypred_mape'] = [np.sum(np.abs(tmp.model_2_ypred - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['ensemble_mape'] = [np.sum(np.abs(tmp.final_ensemble - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
    else:
        tmp = df4_small[(sales_threshold[i]<df4_small.salesForecast_y)]
        print('larger than',sales_threshold[i], 'shape:', tmp.shape)
        tmp_oneline_df = pd.DataFrame()
        tmp_oneline_df['cate3'] = [cate3]
        tmp_oneline_df['range_min'] = [sales_threshold[i]]
        tmp_oneline_df['range_max'] = [-999]
        tmp_oneline_df['count_num'] = [tmp.shape[0]]
        tmp_oneline_df['sales_ratio_total'] = [float(tmp.salesForecast_y.sum()) / df4_small.salesForecast_y.sum()]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['online_pred_sum'] = [tmp.ofdsales.sum()]
        tmp_oneline_df['ypred_raw_sum'] = [tmp.ypred_raw.sum()]
        tmp_oneline_df['model_2_ypred_sum'] = [tmp.model_2_ypred.sum()]
        tmp_oneline_df['ensemble_sum'] = [tmp.final_ensemble.sum()]
        tmp_oneline_df['actual_sales_sum'] = [tmp.salesForecast_y.sum()]
        tmp_oneline_df['online_pred_mape'] = [np.sum(np.abs(tmp.ofdsales - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['ypred_raw_mape'] = [np.sum(np.abs(tmp.ypred_raw - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['model_2_ypred_mape'] = [np.sum(np.abs(tmp.model_2_ypred - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
        tmp_oneline_df['ensemble_mape'] = [np.sum(np.abs(tmp.final_ensemble - tmp.salesForecast_y)) / np.sum(tmp.salesForecast_y)]\
                                                if np.sum(tmp.salesForecast_y) != 0 else np.nan
    tmp_list.append(tmp_oneline_df)
        
stat_df_small = pd.concat(tmp_list)

range in  0 5 shape: (6182, 13)
range in  5 10 shape: (1577, 13)
range in  10 15 shape: (777, 13)
range in  15 20 shape: (467, 13)
range in  20 25 shape: (293, 13)
range in  25 30 shape: (223, 13)
range in  30 35 shape: (169, 13)
range in  35 40 shape: (114, 13)
range in  40 45 shape: (100, 13)
range in  45 50 shape: (88, 13)
range in  50 55 shape: (67, 13)
range in  55 60 shape: (66, 13)
range in  60 65 shape: (61, 13)
range in  65 70 shape: (55, 13)
range in  70 75 shape: (47, 13)
range in  75 80 shape: (40, 13)
range in  80 85 shape: (35, 13)
range in  85 90 shape: (31, 13)
range in  90 95 shape: (32, 13)
larger than 95 shape: (31, 13)

In [88]:
stat_df_small.online_pred_mape < stat_df_small.ypred_raw_mape

0    False
0     True
0    False
0     True
0    False
0    False
0    False
0    False
0    False
0     True
0    False
0    False
0    False
0     True
0    False
0     True
0    False
0    False
0    False
0    False
dtype: bool

In [86]:
stat_df_small

,cate3,range_min,range_max,count_num,sales_ratio_total,online_pred_sum,ypred_raw_sum,model_2_ypred_sum,ensemble_sum,actual_sales_sum,online_pred_mape,ypred_raw_mape,model_2_ypred_mape,ensemble_mape
0,7371,0,5,6182,0.125218,19323.601709,15616.029574,20231.423999,16904.516708,13576,0.986254,0.835588,1.027943,0.886493
0,7371,5,10,1577,0.112702,11072.551136,10420.279954,12397.919080,10936.863013,12219,0.622287,0.631394,0.667095,0.622597
0,7371,10,15,777,0.090916,8768.372034,8313.454976,9880.247636,8709.446561,9857,0.608954,0.589993,0.641761,0.587436
0,7371,15,20,467,0.076767,7226.541603,7421.914077,8788.756342,7660.499901,8323,0.552168,0.566652,0.616311,0.550288
0,7371,20,25,293,0.061640,5352.528179,5403.387790,6593.215672,5662.118877,6683,0.582128,0.530454,0.590162,0.522150
0,7371,25,30,223,0.057241,4786.308853,4995.809162,5851.560197,5116.636349,6206,0.489134,0.469024,0.493505,0.448382
0,7371,30,35,169,0.051347,4483.380804,4758.325718,5438.267567,4864.916147,5567,0.520442,0.493294,0.509439,0.475594
0,7371,35,40,114,0.039864,3547.464882,3984.073907,4563.266561,4059.979697,4322,0.480455,0.471631,0.492581,0.446760
0,7371,40,45,100,0.039375,2780.789181,3239.325731,3509.459574,3247.323004,4269,0.416798,0.387441,0.346870,0.355524
0,7371,45,50,88,0.039154,3253.949343,3535.188591,3902.438649,3547.537717,4245,0.372337,0.431179,0.429574,0.409045
0,7371,50,55,67,0.032513,2899.725526,2836.432706,3316.761610,2910.777685,3525,0.506176,0.441642,0.430661,0.414797
0,7371,55,60,66,0.035317,3223.160332,3757.051419,3924.206026,3656.211017,3829,0.505704,0.504067,0.500379,0.474302
0,7371,60,65,61,0.035400,3048.789210,3311.576679,3680.985106,3322.518293,3838,0.358979,0.335654,0.393463,0.326687
0,7371,65,70,55,0.034625,3245.775241,3523.086775,4029.244572,3513.742781,3754,0.474609,0.506227,0.456885,0.448784
0,7371,70,75,47,0.031646,3313.742578,3002.783390,3227.385433,2957.283512,3431,0.491923,0.389303,0.371772,0.364632
0,7371,75,80,40,0.028897,2387.597618,2416.129716,2666.629709,2412.430876,3133,0.429737,0.438723,0.420758,0.418466
0,7371,80,85,35,0.026536,2201.184110,2487.504918,2619.682216,2436.835718,2877,0.288198,0.274059,0.260338,0.252358
0,7371,85,90,31,0.025300,2383.527670,2305.808794,2500.583510,2289.937591,2743,0.495712,0.425935,0.405526,0.406024
0,7371,90,95,32,0.027431,1975.044982,2194.984611,2391.328218,2159.216413,2974,0.433644,0.413046,0.416066,0.384369
0,7371,95,-999,31,0.028113,1932.139200,2167.172033,2311.002681,2130.591600,3048,0.490278,0.424739,0.398342,0.395254